.wrapper {
  border: 1px solid #DFE3E6;
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DFE3E6;
  height: 36px;
  padding: 14px;
  font-size: .75rem;
}

.description {
  padding: 14px;
  font-size: .75rem;
}
