.container {
  background: #f9f9fa;
  height: 100px;
  display: flex;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 100%;
}
